body{
    background: $secondary-color-light;
}
nav{
    height:55px;
    ul{
    height: 100%;
    li{
        height: 100%;
    }
    .dropdown-content{
        height: auto;
        overflow-y: hidden;
        li{
            height: 50%;
        }
    }
    .a-center{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .a-center-column{
@extend .a-center;
flex-direction: column;
    }
    }
}

.content_header{
    height: 40vh;
    background-image: url(../img/libro-blanco.jpg);
    background-size: cover;
    background-position: center;
}

.main{
    background-color: white;
    margin-top: 3vh;
}
@media #{$medium-and-up} {
    .main {
        margin-top: 6vh;
    }
    }
@media #{$large-and-up} {
    .main {
        margin-top: 8vh;
    }
}

//helpers

img{
    object-fit: cover;
    object-position:center;
} 
.justify-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.justify-around{
    display: flex;
    // flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;

}
.margin{
    margin: 1em;
}

//form 
 #searchBook{
flex-wrap: wrap;
}
@media #{$medium-and-up} {#searchBook{
    flex-wrap:nowrap;
}}


//estilos libros
.books{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .holdBookCard{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        .book{
            width: calc(100% /2);
            padding: 0.5em;
            font-size: 12px;
            img{
                height: 180px;
            }
    }
}
.card-content{
    height: 179px;
    .card-title{
        font-size: 14px;
        line-height: 1;
        font-weight: bold; 
        height: 64px;
        display: -webkit-box;
        white-space: normal;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
    

}
@media #{$medium-and-up} {
    .books{
        .holdBookCard{
            .book {
            width: calc(100% / 3);
            img{
                height: 280px;
            }
        }}
        
    }
    
    }
@media #{$large-and-up} {
    .books{
        .holdBookCard{
            .book {
                width: calc(100% / 4);
        }}
        
    }
}

.arrow{
    height: 50%;
}
///carrito
.mi-counter{
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
#cart{
    
    .bell{
        font-size: 130%;
    }
}
.cart{
    width: 60%;
    position: fixed;
    bottom:0px;
    right: 0px;
    z-index: 1000;
    display: none;
    height: 100vh;
    background:#fff;
    display: none;
    flex-direction: column;
    justify-content: space-between;

    a{
        width: fit-content;
        i{
            margin: 0.5em;
            cursor: pointer;
        }
    }
    .collection{
        overflow-y: auto;
        .collection-item{
            .cricket{
                width: 60px;
                height: 60px;
                float: right; 
                margin-left: 1em;
               }
               .total{
                font-size: 120%;
                font-weight: bold;
               }
        }
    }
  

}
@media #{$medium-and-up}{
    .cart{
        width: 40%;
    }
}
@media #{$large-and-up}{
    .cart{
        width: 25%;
    }
  
}

 ///estilos login 
.bg-login{
    min-height: 100vh;
    .card-sign{
        .warn{
            font-weight: bold;
        }
    }
    .recoveryPass{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        height: 40%;
        width: 50%;
        padding: 2em;
       form{
        div{
            width: 80%;
        }    
       }
    }
}

.cont-login{
    display: block;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 2em;
.span-pass{
    font-size: 75%;
    margin-top: 2em;
    display: flex;
    align-items: center;
    &:hover i{
        color:$secondary-color-dark;
    }
}
.btn-form{
    width: 100%;
}
}
@media #{$large-and-up} {
    .cont-login{
    width: 40%;
   
}
}

////buscando amigos

.holdFriend{
    min-height: 75vh;
    transition: 3s;
}
///form
 
//admin
///tabla
.containerTable{
    width: 80%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    table{
        background: #fff;
        th{
            text-align: center;
            .imgTable{
                height:15vh;
            }
            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            input[type=number] { -moz-appearance:textfield; }
            .quantity {
                width: 60%;
                &:disabled{
                    color: rgb(80, 79, 79);
                    font-weight: bold;
                }
            }
            .price{
                &:disabled{
                    color: rgb(80, 79, 79);
                    font-weight: bold;
                }
            }
        }
    }
}

@media #{$medium-and-up} {
    .containerTable{
        width: 60%;
        margin-top: 6vh;
        margin-bottom: 6vh;
        table{
            background: #fff;
            th{
                text-align: center;
            }
        }
    }
}
@media #{$large-and-up} {
    .containerTable{
        width: 60%;
        margin-top: 8vh;
        margin-bottom: 8vh;
        table{
            background: #fff;
            th{
                text-align: center;
            }
        }
    }
}